<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="radarcns-empatica-plugin" version="0.2.3"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>RADAR-CNS Empatica</name>
    <description>RADAR-CNS Empatica E4 plugin</description>
    <license>Apache 2.0</license>
    <keywords>empatica,radarcns</keywords>
    <js-module src="www/device.js" name="device">
        <clobbers target="radar" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Device">
                <param name="android-package" value="org.radarcns.android.cordova.RadarEmpatica.java"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.BLUETOOTH" />
        </config-file>
    
        <source-file src="cordovaplugin/src/main/java/org/radarcns/cordova/android/RadarEmpaticaCordova.java" target-dir="src/org/radarcns/cordova/android/"/>
        <framework src="cordovaplugin/build.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>
